<footer class="footer">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
  <a href="https://github.com/0x42697262">
    <i class="fab fa-github"></i>
    <b>Github</b>
  </a>
</footer>
